Source: minos-core-tools
Section: utils
Priority: optional
Maintainer: Javier López <m@javier.io>
Build-Depends: debhelper (>= 7.0.5)
Standards-Version: 3.9.4
Vcs-Git: git://github.com/minos-org/minos-core-tools-deb.git
Vcs-Browser: https://github.com/minos-org/minos-core-tools-deb.git

Package: minos-core-tools
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf
Conflicts: youtube-dl
Description: Minos extra tools
 Minos extra tools
 .
 Run $ sudo dpkg reconfigure minos-core-tools for selecting what services to
 enable.
