#!/bin/sh
set -e

#debconf hook. We don't rely on debconf being present at this time.
if [ -e /usr/share/debconf/confmodule ];then
    . /usr/share/debconf/confmodule
    DEBCONFEXISTS="true"
    export DEBCONFEXISTS
else
    DEBCONFEXISTS="false"
    export DEBCONFEXISTS
fi

case "${1}" in
    configure)
        if [ "$DEBCONFEXISTS" = "true" ]; then
            #ask questions
            db_input medium minos-core-tools/settings || :
            #show interface
            db_go || :
        fi
        ;;
    reconfigure)
        if [ "$DEBCONFEXISTS" = "true" ]; then
            #ask questions
            db_input medium minos-core-tools/settings || :
            #show interface
            db_go || :
        fi

        #workaround for the hacky way of managing configure/reconfigure in maintainer scripts/debconf
        if [ -f /var/lib/dpkg/info/minos-core-tools.postinst ]; then
            /var/lib/dpkg/info/minos-core-tools.postinst configure
            :
        fi
        ;;
    *)
        printf "%s\\n" "${0} called with unknown argument \`${1}'" 1>&2
        exit 1
        ;;
esac

#DEBHELPER#
exit 0
